<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @retro_game.description %>
</p>

<%= link_to 'Edit', edit_retro_game_path(@retro_game) %> |
<%= link_to 'Back', retro_games_path %>
